{% block title %}Hackactivistas Perú | Restablecimiento de contraseña{% endblock title %}

{% block contenido %}
	{% autoescape off %}
	Para iniciar el proceso de restablecimiento de contraseña de su cuenta: 
	Usuario: {{ user.usuario }}
	Correo : {{ user.email }}
	
	Haga clic en el siguiente enlace:

	{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

	Si hacer clic en el enlace de arriba no funciona, copie y pegue la URL en una nueva ventana del navegador.

	Atentamente,
	Equipo de Hackactivistas Perú
	{% endautoescape %}
{% endblock contenido %}