{% extends "base-not-footer.html" %}

{% block title %}Hackactivistas Perú | Password reset{% endblock title %}

{% block contenido %}
	<div class="container-fluid">
	   <div class="row">
	     <main class="col-sm-12 ml-sm-auto col-md-12 mt-5" role="main">
	           <section class="card-body">
	           	<h4>Se te olvido tu contraseña?</h4>
	           	<form method="post">
	           	  {% csrf_token %}
	           	  <div class="form-row">
	           	  	<div class="form-grpup col-md-4">
	           	  		{{ form.as_p }}	
	           	  	</div>
	           	  </div>
	           	<div class="form-row">
					<div class="form-group col-md-2">
	           	 		 <button type="submit" class="btn-hack-green">Enviar</button>
		        	</div>	
	           	 </div>
	           	</form>
	           </section>
	     </main>
	   </div>
	 </div>	
{% endblock contenido %}