{% extends "base-not-footer.html" %}

{% block title %}Hackactivistas Perú | Password reset confirm{% endblock title %}

{% block contenido %}
  <div class="container-fluid">
     <div class="row mt-2">
       <main class="col-sm-12 ml-sm-auto col-md-12 mt-5" role="main">
             <section class="content">
              {% if validlink %}
                <h4>Cambio de contraseña</h4>
                <form method="post">
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="form-grpup col-md-4">
                      {{ form.as_p }} 
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <button type="submit" class="btn-hack-green">Cambio de contraseña</button>
                    </div>  
                  </div>
                </form>
              {% else %}
                <p>
                  El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se utilizó. Solicite un nuevo restablecimiento de contraseña..
                </p>
              {% endif %}
             </section>
       </main>
     </div>
   </div> 
{% endblock contenido %}