{% extends "base-not-footer.html" %}

{% block title %}Hackactivistas Perú | Password reset complete{% endblock title %}

{% block contenido %}
	<div class="container-fluid">
	   <div class="row">
	     <main class="col-sm-12 ml-sm-auto col-md-12 pt-3" role="main">
	           <section class="content">
	           	<p>
	           	  Su contraseña ha sido establecida. Puedes continuar y <a href="{% url 'iniciar_sesion' %}">Iniciar sesión</a> ahora.
	           	</p>
	           </section>
	     </main>
	   </div>
	 </div>	
{% endblock contenido %}