{% extends "base-not-footer.html" %}
{% block title %}Hackactivistas Perú | Password reset done{% endblock title %}

{% block contenido %}
	<div class="container-fluid">
	   <div class="row">
	     <main class="col-sm-12 ml-sm-auto col-md-12 pt-3" role="main">
	           <section class="content">
	           	<p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó.
				Deberías recibirlos en breve.	
	           	</p>
	           	<p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró, y revisa tu carpeta de spam.
	           	</p>
	           </section>
	     </main>
	   </div>
	 </div>	
{% endblock contenido %}