{% extends "base.html" %}
{% block title %}Hackactivistas | Diagnóstico de COVID-19 con IA{% endblock title %}
{% load static %}
{% block contenido %}
<div class="container-fluid pt-6">
	<div class="container">
		<div class="row mt-1 mb-4">
			<div class="col-md-6 ">
                <div class="col-md-12 mb-4">
                    
                    <h1 class="title title_35"><span class="rs_azul">DIAGNOSTICO DE COVID19 EN TIEMPO REAL CON INTELIGENCIA ARTIFICIAL</span></h1>
                    <h4>Decripción</h4>
                </div>
       
                <div class="col-md-12">
                    <form>My form</form>
            
                </div>
            </div>
            
		</div>
	</div>
</div>
  
{% endblock contenido %}