/**********************************

Name: cmxform Styles
para pintar formularios con rojo con Jquery 
***********************************/
/* COlORES HACKACTIVISTA*/
/*
se utiliza de esta forma
.clase{
  color:var(--color1);
}
*/
:root {
  --color1:#48DD8F;
  --color2:#FD5A58;
  --color3:#43A6F6;
  --color4:#9FE110;
  --color5:#FFC71D;
}
/* END COLORES HACKTIVISTAS*/

.font-primary{
 font-family:times;
 font-weight: bold; 
}
.font-secundary{
  font-family: ;
}
/*Animaciones*/
.move-left{
  position: relative;
  margin-left:0px;
  transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}
.move-left:hover{
  transition:;
  all:.38s ease-out;
  margin-left:10px;
  -webkit-transition: all .38s ease-out;
  -moz-transition: all .38s ease-out;
  -ms-transition: all .38s ease-out;
  -o-transition: all .38s ease-out;
}
/*Animaciones*/



form.cmxform label.error, label.error {
    /* remove the next line when you have trouble in IE6 with labels in list */
    color: red;
    font-style: italic
}

div.error {
    display: none;
}

input {
    border: 1px solid black;
}

input.checkbox {
    border: none
}

input:focus {
    border: 1px dotted black;
}

input.error {
    border: 1px dotted red;
}

form.cmxform .gray * {
    color: gray;
}

/* fin jquery validate */

/* Your custom styles */
.btn_sesion {
    color: blue;
}

.btn_modal {
    text-align: right;
}

.buscar {
    justify-content: space-between;
}

.add_acount {
    margin-top: 2em;
}

.footers {
    /*  position: absolute;*/
    bottom: 0;
    width: 100%;

}

.parrafo_main {
    margin: 2em;
}


/* nuestros proyectos */


.icon_enlace{
  height: 100%;
  width: 22px;
  margin-left: .8em;
  display: inline-flex;

}
.icon_enlace img{
width: 100%;top:0;

}
  
/* fin de nuestros proyectos */

@media screen and (max-width: 640px) {
    .menu {
        margin-left: 0em;
    }
}

.row {
    padding: 1em;
}

.container {
    height: 100%;
    /*height: 72vh;*/
    /*position: absolute;*/
}

@font-face{
   font-family:rubik; 
   src: url('/static/fonts/rubik/Rubik-Medium.ttf');
}

@font-face{
   font-family:times; 
   src: url('/static/fonts/times/Times-Bold.ttf');
}
@font-face{
   font-family:karla; 
   src: url('/static/fonts/Karla/Karla-Regular.ttf');
}
/*munu principal*/

.nav1{
  background: #f9f9f9;
}
.buscador{
  margin-right: 14em;
}
.nav-link{
  margin-left: 1em;
}
/*page message*/

/*stard menu*/
a:active,
a:hover {
  outline: 0;
}
.menu .menu-nav{
  font-family: rubik;
  padding: 0;
  margin: 0;
}

a, .navbar-toggle,.dpgable-menu{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; 
}
a:hover,
a:focus {
  color: #063847;  
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.dpgable {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dpgable-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  visibility: visible;
  padding: 5px 0;   
  margin: 2px 0 0;
  display: none;
  list-style: none;
  font-size: 14px;     
  background-color: white;
  border: solid #edeeef 2px;
  border-radius: 0 0 0 4px;
  background-clip: padding-box;  
}
.dpgable-menu .dpgable-menu {    
  min-width: 160px;
  padding: 0;
  display: none;
  margin: 2px 0 0 40px;
  list-style: none;
  font-size: 14px;
  opacity: 0;
  background-color: #004760;
  border-radius: 0 0 0 4px;
  background-clip: padding-box;  
}

.rayita{ 
  position: relative;  
}

.rayita:after {
  position: absolute;
  content: "";
  width: 95%;
  display: block;
  border-bottom: 1vw solid #FD5A58;
  bottom:.1em ;
  z-index: -1;
  right: 0;

}
.rs_azul{ 
  position: relative;  
}

.rs_azul:after {
  position: absolute;
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1.2vw solid #43A6F6;
  bottom:.1em ;
  z-index: -1;
  right: 0;

}
@media (min-width: 768px) {
  .dpgable-menu {    
    top: 200%;
    left: 0;    
    visibility: hidden;
    float: left;
    display: block;
    min-width: 160px;
    padding: 5px 0;    
    opacity: 0;
  } 
  .dpgable-menu .dpgable-menu {    
    top: -3px;
    left: 120%;
    display: block;
    float: left;
    z-index: 1000;
    margin: 2px 0 0;
    visibility: hidden;
    opacity: 0;
  }
  .dpgable-menu .dpgable-menu:before{
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #0e6e8c transparent transparent;
  }
  .dpgable:hover > .dpgable-menu {
    opacity: 1 ;
    top: 105% ;    
    visibility: visible ;
  }
  .dpgable-menu .dpgable:hover > .dpgable-menu {
    opacity: 1;  
    top: -3px;
    left: 100%;
    padding: 5px 0;
    visibility: visible;
  }
  .navbar-right .dpgable-menu {
    left: auto;
    right: 0;
  }  
 .navbar-right .dpgable-menu:before{
    content: "";
    position: absolute;
    top: -20px;
    left: auto;
    right: 30%;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #063847 transparent;
  } 
  .navbar-header {
    float: left;
  }
  .menu-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .menu-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .menu-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .menu-collapse,
  .navbar-static-top .menu-collapse,
  .navbar-fixed-bottom .menu-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .menu-nav {
    float: left;
    margin: 0 !important;
  }
  .menu-nav > li {
    float: left;
  }
  .menu-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .menu-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  .navbar-right {
    float: right !important;
  }
}


.dpgable-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #0e6e8c;
}
.dpgable-menu > li {
  position: relative;
}
.dpgable-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #2f3b40;  
  line-height: 2;
  white-space: nowrap;
  text-decoration: none;
}
.dpgable-menu > li > a:hover,
.dpgable-menu > li > a:focus,
.dpgable-menu > .active > a,
.dpgable-menu > .active > a:hover,
.dpgable-menu > .active > a:focus {      
  background-color: #f5f5f5;
}
.open > .dpgable-menu {  
  display: block;
  opacity: 1;
}

.menu {

  position: fixed;
  background: #f8f8f8;
  border-bottom: .5px solid #cacaca;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.menu-collapse.in {
  overflow-y: auto;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  background-color: #B71D1D;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: none;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.menu-nav {
  margin: 7.5px -15px;
  list-style: none;
  padding-left: 0;
}
.navbar-nav > li {
  position: relative;
  display: block;
}
.menu-nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 30px;  
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: #2f3b40;
}
@media (max-width: 767px) {
  .menu-nav .open .dpgable-menu{
    position: static;
    float: none;
    width: auto;
    margin-top: 0;    
    border: 0;
    box-shadow: none;
  }
  .menu-nav .open .dpgable-menu > li > a,
  .menu-nav .open .dpgable-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dpgable-menu > li > a{
    line-height: 20px;
  }
  .menu-nav .open .dpgable-menu > li > a:hover,
  .menu-nav .open .dpgable-menu > li > a:focus {
    background-image: none;
  }
}
.menu-nav > li > .dpgable-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.menu .menu-nav > li:hover{
  border-bottom: solid #4A4A4A;
}

.menu .menu-nav > li > a:hover,
.menu .menu-nav > li > a:focus {
  background-color: transparent;
  color: #2f3b40;
}
.menu .menu-nav > .active > a,
.menu .menu-nav > .active > a:hover,
.menu .menu-nav > .active > a:focus {
  color: #fff;
  background-color: #063847;
}
.menu .navbar-toggle {
  border-color: #fff;  
}
.menu .navbar-toggle:hover,
.menu .navbar-toggle:focus {
  background-color: #063847;
  border-color: #063847;
}
.menu .navbar-toggle .icon-bar {
  background-color: #fff;
}
.logo{

  display: inline-block;
  display: block;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.btn-salir{
  text-align: right;
  padding-top: 0.4rem;
  padding-right: 1.5rem;
}
@media only screen and (max-width: 768px) {
.btn-salir{
  text-align: center;
}  
}
/*end menu*/
.size14{
    font-size: 12px;
}
.pt-6{
    padding-top: 6em;
}
.sombra{
    background-color: #48DD8F;
    width: 57%;
    height: 1.3em;
    position: relative;
    top: 68px;
    left: 10.2em;
}
.title{
    font-size: 50px;
    font-family: times;
    font-weight: bold;
}

.title_35{
  font-size: 35px;
  font-family: times;
  font-weight: bold;
  line-height: 1.5;
}

.sub_title_20{
  font-size: 20px;
  font-family: times;
  font-weight: bold;
  line-height: 1.5;
}


.font-k{
    font-family: karla;
}
.c-b{
    color: black;
}
.size15{
    font-size: 15px;
}
.size11{
    font-size: 11px;
}
.logo-index{
    font-family: rubik;
    font-weight: bold;
    font-size: 20px;
}
@media (max-width: 767px) {
 .title{
    font-size: 38px;
 }  
}

/*footer*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#f5f5f5;
  font-size:16px;
  /*text-transform:uppercase;*/
  margin-top:5px;
 
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#48DD8F;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}/*
.div-footer{
    border-left:solid 0.2em var(--color1);

}*/
/**/