{% extends "base-not-footer.html" %}
{% block title %} Hackactivistas | Inicio de Sesión{% endblock title %}
{% load static %}
{% block contenido %}

<div class="container mt-5">
  {% if not request.user.is_authenticated %}
  <br>
  <div class="row justify-content-center ">

       <form action=".?next={{ redirect_to }}" method="post" class="form-signin">{% csrf_token %}
      {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                  {{ form.errors }}
              </div>
        {% endif %}
        <div class="card col-md-12 px-5">

            <div class="card-body">

           
            <div class="text-center mt-4">
                <h3 class="dark-grey-text mb-4">
                    <strong>Iniciar sesión</strong>
                </h3>
            </div>

            <!--Body-->

            <div class="form-group">
                <label for="Form-email1">Correo:</label>
                <input type="email" id="Form-email" name="email" class="form-control  mb-3">
            </div>

            <div class="form-group ">
                <label for="Form-pass1 mx-0">Contraseña:</label>
                <input type="password" id="Form-pass1" name="password" class="form-control">
                <a href="/password_reset" class="blue-text  "><p class="font-small blue-text d-flex justify-content-end">Olvidastes tu Contraseña?</p></a>
            </div>

            <div class="text-center mb-3">
                <button type="submit" class="btn btn-rounded  btn_col primary-color ">Iniciar</button>
            </div>


        </div>

        <!--Footer-->
        <div class=" text-center pt-2 mb-1">
            <p class="font-small grey-text  ">No eres miembro? <a href="/registrarse" class="blue-text ml-1"> Registrate</a></p>
        </div>

    </div>
</form> 
  </div>
    {% else %}
    <p>Ya inicio su sesión <a href=" {% url 'cerrar_sesion' %} ">Cerrar</a></p>
    {% endif %}
</div>
{% endblock contenido %}