{% extends "base-not-footer.html" %}
{% block title %}Hackactivistas | Registro de Cuenta{% endblock title %}
{% load static %}
{% block contenido %}
    <div class="container">
    <br>
    {% if not request.user.is_authenticated %}  
      <div class="row justify-content-center ">
      <form role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.errors }}
            </div>
        {% endif %}

        <div class=" card col-md-12 mt-5">

        <div class="card-body ">

           
            <div class="text-center">
                <h3 class="dark-grey-text mb-4"> <strong>Registrarse</strong></h3>
            </div>
            <!--Body-->
           <div class="form-group  ">
                {{form.usuario}}
                {{form.usuario.label_tag}}
            </div>
            <div class="form-group ">
                 {{form.email}}
                  {{form.email.label_tag}}
            </div>
            <div class="form-group ">
                 <input type="text" name="celular" class="form-control" maxlength="12" required="" id="id_celular">
                  <label for="id_email" class="">Celular:</label>
            </div>
            <div class="form-grouppb-3">
                 {{form.password}}
                {{form.password.label_tag}}
            </div>
            <div class="text-center mb-3">
                <button type="submit" class="btn btn-rounded primary-color  btn_col">Registrarse </button>
            </div>    

        </div>

        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
          <span class="tiene_cuenta">¿Ya tienes una cuenta?<a href=" {% url 'iniciar_sesion' %} "> Iniciar sesión?</a></span>
        </div>

      </form>
      </div>
      {% else %}
        <p>Ya se registró  <a href=" {% url 'cerrar_sesion' %} ">Cerrar</a></p>
      {% endif %}

    </div>

{% endblock contenido %}