{% extends "base.html" %}
{% block title %}Hackactivistas | Página de Interés{% endblock title %}
{% load static %}
{% block contenido %}
<div class="container-fluid pt-6">
	<div class="container">
		<div class="row mt-1 mb-4">
			<div class="col-md-6 ">
                <div class="col-md-12 mb-4">
                    <p class="font-primary">1/10</p>
                    <h1 class="title title_35"><span class="rs_naranja"> Plataforma</span> única del Gobierno del Perú - COVID19</h1>
                </div>
       
                <div class="col-md-12">
                    <p class="size15">
                    
                   
                    </p>
                
                    <a href="https://www.gob.pe/coronavirus" target="_blank" class="font-weight-bold"> www.gob.pe/coronavirus</a>
                 <br><br>
                </div>
            </div>
            
            <div class="col-md-6 mt-2">
                <img class="rounded mx-auto d-block " src="static/img/web_coronavirus.png" alt="">
            </div>
		</div>
	</div>
</div>
  
{% endblock contenido %}