{% extends "base.html" %}
{% block title %}Hackactivistas | Alerta Minsa{% endblock title %}
{% load static %}
{% block contenido %}
<div class="container-fluid pt-6">
	<div class="container">
		<div class="row mt-1 mb-4">
			<div class="col-md-6 ">
                <div class="col-md-12 mb-4">
                    
                    <h1 class="title title_35"> Alerta <span class="rs_azul">MINSA</span></h1>
                    <h4>trazabilidad para infectados por geolocalización y ubigeo telefónico.</h4>
                </div>
       
                <div class="col-md-12">
                    <p>  ¿Cómo podríamos monitorear en tiempo real y orientar a la población mediante las
                        tecnologías disponibles? </p>
                    <p class="size15">
            <p>          Se automatizará la integración con fuentes de datos con chatbots, web de noticias locales
                (scraping), redes sociales (twitter/Facebook), webs del gobierno y entidades, base de datos de
                RENIEC y migraciones para procesar la data y obtener indicadores tiempo real sobre COVID-19. </p>
                        Permite resolver el problema de trazabilidad de los infectados y sospechosos detectados por el
                        ChatCOVID, ambas tecnologías deben ser integradas para el telemonitoreo de los casos y la
                        vigilancia epidemiología en tiempo real.
                   
                    </p>
                
             
                </div>
            </div>
            
           <!-- <div class="col-md-6 mt-2">
                <img class="rounded mx-auto d-block " src="static/img/web_coronavirus.png" alt="">
            </div>-->
		</div>
	</div>
</div>
  
{% endblock contenido %}