{% extends "base.html" %}
{% block title %}Hackactivistas | BioCovid19{% endblock title %}
{% load static %}
{% block contenido %}
<div class="container-fluid pt-6">
	<div class="container">
		<div class="row mt-1 mb-4">
			<div class="col-md-6 ">
                <div class="col-md-12 mb-4">
                    
                    <h1 class="title title_35"> Bio<span class="rs_azul">COVID19 </span></h1>
                    <h4>Potenciales inhibidores moleculares de la proteasa de la SARS-CoV-2.</h4>
                </div>
       
                <div class="col-md-12">
                    <p>Hoy en día, no existe una cura ni tratamiento, en ese sentido, se han desarrollado una serie de
                        investigaciones para determinar blancos terapéuticos que actualmente van cursando ensayos
                        clínicos.
                    </p>
                    <p>A partir de lo reportado en la literatura para los fármacos más eficaces contra el SARS-CoV-2 se
                        eligieron la bixina (carotenoide producido de manera natural a partir del achiote) y cloroquina
                        (fármacos inhibidores más eficaces contra el virus). <br> Adicionalmente, se ha sugerido sobre los posibles efectos de la curcumina contra
                        microorganismos patógenos como bacterias, hongos y virus.</p>
                        
                    <p> Según la literatura, la curcumina tiene efectos antivirales sobre virus muy virulentos como el
                        VIH, HTLV-1, HBV, HCV, HPV, HSV, JEV, influenza y Coxsackievirus.
                        La curcumina tiene varias ventajas como antiviral natural, además de ser considerada segura,
                        no tóxica, rentable y fácilmente disponible, es también una molécula altamente pleiotrópica
                        con actividades antiinflamatorias, antioxidantes, quimiopreventivas, quimiosensibilización y
                        radiosensibilización.   </p>
                       
               
                
             
                </div>
            </div>
            
           <!-- <div class="col-md-6 mt-2">
                <img class="rounded mx-auto d-block " src="static/img/web_coronavirus.png" alt="">
            </div>-->
		</div>
	</div>
</div>
  
{% endblock contenido %}