{% extends "base.html" %}
{% block title %}Hackactivistas | ChatCovid19{% endblock title %}
{% load static %}
{% block contenido %}
<div class="container-fluid pt-6">
	<div class="container">
		<div class="row mt-1 mb-4">
			<div class="col-md-6 ">
                <div class="col-md-12 mb-4">
                    
                    <h1 class="title title_35"> Chat<span class="rs_azul">COVID19 </span></h1>
                    <h4>orientación ciudadanía para el rápido despistaje vía CHATBOT.</h4>
                </div>
       
                <div class="col-md-12">
                    <p>¿Cómo podríamos mejorar la eficiencia de la atención de consultas sobre el COVID-19
                        realizadas por la población peruana vía remota?</p>
                    <p>
                        El usuario podrá usar diversos canales (Whatsapp, Telegram, llamada y otros canales) con la
                        ayuda de un CHATBOT para las consultas sobre COVID-19, lo que permitirá incrementar la
                        capacidad de respuesta a los ciudadanos</p>
                    <p>
                        Esta tecnología permitirá la orientación instantánea a cualquier peruano a través de los medios
                        sociales de tele-mensajería.  </p>
                       
               
                
             
                </div>
            </div>
            
           <!-- <div class="col-md-6 mt-2">
                <img class="rounded mx-auto d-block " src="static/img/web_coronavirus.png" alt="">
            </div>-->
		</div>
	</div>
</div>
  
{% endblock contenido %}    