<!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 div-footer">
            <h6 class="font-primary">HackActivistas</h6>
            <p class="font-k">Somos un movimiento voluntario de activistas de la información al servicio de una sociedad abierta, nuestra base de fundamenta en la transparencia y colaboración a partir de la integración cultural.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6 class="font-primary">Categorias</h6>
            <ul class="footer-links">
              <li><a href="#" class="font-k">Proyectos</a></li>
              <li><a href="#" class="font-k">Eventos</a></li>
              <li><a href="#" class="font-k">Retos</a></li>
              <li><a href="#" class="font-k">Cursos</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6 class="font-primary">Enlaces</h6>
            <ul class="footer-links">
              <li><a href="#" class="font-k">¿Quiénes somos?</a></li>
              <li><a href="#" class="font-k">Nuestros proyectos</a></li>
              <li><a href="#" class="font-k">Nuestros Hackactivistas</a></li>
              <li><a href="#" class="font-k">Contáctanos</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text font-k">Copyright &copy; 2020 derechos reservados
         <a href="#">Hackactivistas</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>