<!--Modal: Login / Register Form-->             
<nav class="menu ">              
      <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">               
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
              <!-- logo -->
    <div class="pl-4 pr-3 pt-3">
           <!-- logo -->
      <a title="Logo hackcactivista" class="c-b logo-index" href="#"><span>HackActivistas</span></a>
    </div>

      </div>

      <div class="collapse menu-collapse m-0 p-0" id="menu">
          <ul class="menu-nav idx">
              <li class="dpgable">
                <a href="/quienes-somos" class="size14 color-grey f-ms">¿Quiénes somos?</a>
              </li>
              <li class="dpgable">
              <a href="/nuestros-proyectos" class=" size14 color-grey f-ms">Nuestros proyectos</a>
            </li>
            <li class="#"><a href="#" class="size14 color-grey f-ms">Nuestros Hackactivistas</a>
            </li>  
            <li class=""><a href="#" class="size14 color-grey f-ms">Páginas de interés</a>
            </li>  
            <li class=""><a href="#" class="size14 color-grey f-ms">Retos</a>
            </li>       
            <li class=""><a href="#" class="size14 color-grey f-ms">Contáctanos </a>
            </li>   

          </ul> 


      </div>
    </nav> 