{% extends "base.html" %}
{% block title %}Hackactivista{% endblock title %}
{% load static %}
{% block contenido %}
<div class="container-fluid pt-6 cont-index">
	<div class="container  ">
		<div class="row ">
			<div class="col-md-6 pt-6">
				<div class="row">
					<div class="sombra"></div>
					<div class="col-md-12 col-12 pb-3">
						<span class="title">Somos Hackactivistas</span>
					</div>
					<div class="col-md-6 col-6">
						<img src="static/img/img3.png" class="img-fluid" alt="">
						<a class="move-left" href="/nuestros-proyectos"><span class="pl-2 font-k c-b size15">Proyectos</span><i class="fas fa-arrow-right c-b size11 pl-2"></i></a>
					</div>
					<div class="col-md-6 col-6">
						<img src="static/img/img1.png" class="img-fluid" alt="">
						<a class="move-left" href="#"><span class="pl-2 font-k c-b size15">Eventos</span><i class="fas fa-arrow-right c-b size11 pl-2"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-6">
						<img src="static/img/img4.png" class="img-fluid" alt="">
						<a class="move-left" href="#"><span class="pl-2 font-k c-b size15">Retos</span><i class="fas fa-arrow-right c-b size11 pl-2"></i></a>
					</div>
					<div class="col-md-6 col-6">
						<img src="static/img/img2.png" class="img-fluid" alt="">
						<a class="move-left" href="#"><span class="pl-2 font-k c-b size15">Cursos</span><i class="fas fa-arrow-right c-b size11 pl-2"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<img src="static/img/ilus1.png" class="img-fluid" alt="">
			</div>
		</div>
	</div>
</div>

{% endblock contenido %}

