{% extends "base.html" %}
{% block title %}Hackactivistas Perú{% endblock title %}
{% load static %}
{% block contenido %}
<div class="container-fluid pt-6 cont-index">
	<div class="container   ">
		<div class="row ">
			<div class="col-md-7 ">
				<h1 class="title">Somos <span class="rs_verde_01">Hackactivistas</span></h1>
				<h5 class="pt-2 text-muted">Somos un movimiento voluntario de activistas de la información al servicio de una sociedad abierta, nuestra base de fundamenta en la transparencia y colaboración a partir de la integración cultural. </h5>	
			</div>
			<!--<div class="col-md-6 pt-6">
				<div class="row">
					
					<div class="col-md-12 col-12 pb-3">
						<h1 class="title">Somos <span class="rs_verde_01">Hackactivistas</span></h1>
					</div>
					<div class="col-md-6 col-6">
						<img src="static/img/img3.png" class="img-fluid" alt="">
						<a class="move-left" href="/nuestros-proyectos"><span class="pl-2 font-k c-b size15">Proyectos</span><i class="fas fa-arrow-right c-b size11 pl-2"></i></a>
					</div>
					<div class="col-md-6 col-6">
						<img src="static/img/img1.png" class="img-fluid" alt="">
						<a class="move-left" href="#"><span class="pl-2 font-k c-b size15">Eventos</span><i class="fas fa-arrow-right c-b size11 pl-2"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-6">
						<img src="static/img/img4.png" class="img-fluid" alt="">
						<a class="move-left" href="#"><span class="pl-2 font-k c-b size15">Retos</span><i class="fas fa-arrow-right c-b size11 pl-2"></i></a>
					</div>
					<div class="col-md-6 col-6">
						<img src="static/img/img2.png" class="img-fluid" alt="">
						<a class="move-left" href="#"><span class="pl-2 font-k c-b size15">Cursos</span><i class="fas fa-arrow-right c-b size11 pl-2"></i></a>
					</div>
				</div>
			</div>-->
			<div class="col-md-5">
				<img  src="{% static "img/svg/hackactivista_index.svg" %}" class="img-fluid" alt="">
			</div>
		</div>
	</div>
</div>


<div class="container-fluid pt-1">
	<div class="container">
		<div class="row ">
			
			<div class="col-md-12 mb-4">
               <h1 class="title "><span class="rs_azul">Proyectos</span>  </h1>
            </div>
            
          <div class="row col-12">
			<div class="col-md-6">
             
				<img src="{% static "img/hackactivista-planeta.png" %}" alt="">
			</div>
              <div class="col-md-6">
                <div class="">
                    <h3 class="sub_title_20">Alerta MINSA <a href="/proyectos/alerta-minsa" class="icon_enlace"><img src="{% static "img/svg/icon_enlace.svg" %}" alt=""></a></h3>
                    <p class="texto15">Trazabilidad para infectados por geolocalización y ubigeo telefónico.</p>
                 </div>
    
                 <div class="">
                    <h3 class="sub_title_20">BioCOVID19 <a href="/proyectos/bio-covid19" class="icon_enlace"><img  src="{% static "img/svg/icon_enlace.svg" %}" alt=""></a></h3>
                    <p class="texto15">Potenciales inhibidores moleculares de la proteasa de la SARS-CoV-2.</p>
                 </div>
                 <div class="">
                    <h3 class="sub_title_20">ChatCOVID19 <a href="/proyectos/chat-covid19" class="icon_enlace"><img  src="{% static "img/svg/icon_enlace.svg" %}" alt=""></a></h3>
                    <p class="texto15">Orientación a la ciudadanía para el rápido despistaje vía chatbot.</p>
                 </div>
                 <div class="">
                    <h3 class="sub_title_20">Kitchay CoronaVida <a href="/proyectos/kitchay-coronavida" class="icon_enlace"><img  src="{% static "img/svg/icon_enlace.svg" %}" alt=""></a></h3>
                    <p class="texto15">Desarrollo de un kit de salvaguarda para la cuarentena.</p>
                 </div>
              </div>

              
              
          </div>

        </div>
       
	</div>
</div>


{% endblock contenido %}

