{% extends "base.html" %}
{% block title %}Hackactivistas | Kitchay CoronaVida{% endblock title %}
{% load static %}
{% block contenido %}
<div class="container-fluid pt-6">
	<div class="container">
		<div class="row mt-1 mb-4">
			<div class="col-md-6 ">
                <div class="col-md-12 mb-4">
                    
                    <h1 class="title title_35"><span class="rs_azul">Kitchay</span> CoronaVida</h1>
                    <h4>Desarrollo de un kit de salvaguarda para la cuarentena.</h4>
                </div>
       
                <div class="col-md-12">
                    <p>El objetivo es distribuir el Kit Coronavida en zonas periféricas y a la población cercana con
                        casos confirmados con coronavirus.
                        
                       </p>
                    <p>
                        Porque es importante que la población aprenda a reconocer un caso sospechoso para poder
                        evaluarlo y aislarlo de ser el caso.</p>
                    <p>
                        Este Kit de salvaguarda debe ser usado en caso de cuarentena, cuyo fin es concientizar a la
                        población de los hábitos de higiene y seguridad debe tener cada ciudadano.</p>
                       
                        <a href="http://kitchaiy.online/" target="_blank" class="font-weight-bold"> www.kitchaiy.online</a>
                
             
                </div>
            </div>
            
           <!-- <div class="col-md-6 mt-2">
                <img class="rounded mx-auto d-block " src="static/img/web_coronavirus.png" alt="">
            </div>-->
		</div>
	</div>
</div>
  
{% endblock contenido %}    