{% extends "base.html" %}
{% block title %}Hackactivista | Nuestros Proyectos{% endblock title %}
{% load static %}
{% block contenido %}
<div class="container-fluid pt-6">
	<div class="container">
		<div class="row mt-2">
			
			<div class="col-md-12 mb-4">
               <h1 class="title "><span class="rs_azul">Proyectos</span>  </h1>
            </div>
            
          <div class="row col-12">
              <div class="col-md-7">
                <div class="col-md-12">
                    <h3 class="sub_title_20">Alerta MINSA <a href="/proyectos/alerta-minsa" class="icon_enlace"><img src="{% static "img/svg/icon_enlace.svg" %}" alt=""></a></h3>
                    <p class="texto15">Trazabilidad para infectados por geolocalización y ubigeo telefónico.</p>
                 </div>
    
                 <div class="col-md-12">
                    <h3 class="sub_title_20">BioCOVID19 <a href="#" class="icon_enlace"><img  src="{% static "img/svg/icon_enlace.svg" %}" alt=""></a></h3>
                    <p class="texto15">Potenciales inhibidores moleculares de la proteasa de la SARS-CoV-2.</p>
                 </div>
                 <div class="col-md-12">
                    <h3 class="sub_title_20">ChatCOVID19 <a href="#" class="icon_enlace"><img  src="{% static "img/svg/icon_enlace.svg" %}" alt=""></a></h3>
                    <p class="texto15">Orientación a la ciudadanía para el rápido despistaje vía chatbot.</p>
                 </div>
                 <div class="col-md-12">
                    <h3 class="sub_title_20">Kitchay CoronaVida <a href="http://kitchaiy.online/" target="_black" class="icon_enlace"><img  src="{% static "img/svg/icon_enlace.svg" %}" alt=""></a></h3>
                    <p class="texto15">Desarrollo de un kit de salvaguarda para la cuarentena.</p>
                 </div>
              </div>

              <div class="col-md-4">
             
                  <img src="{% static "img/hackactivista-planeta.png" %}" alt="">
              </div>
              
          </div>

        </div>
       
	</div>
</div>
  
{% endblock contenido %}