{% extends "base.html" %}
{% block title %}Hackactivista | Quienes somos{% endblock title %}
{% load static %}
{% block contenido %}
<div class="container-fluid pt-6">
	<div class="container">
		<div class="row mt-2 mb-4">
			<div class="col-md-12 mb-4">
	    <h1 class="title title_35">Impulsamos un <span class="rayita">Sistema de Gobernación Abierta</span>, desde la interdisciplinariedad entre Hackactivistas, Gobierno y Sociedad Civil</h1>
			</div>
			<div class="col-md-6">
				<p class="size15">Somos un movimiento voluntario de activistas de la información al servicio de una sociedad abierta, nuestra base de fundamenta en la transparencia y colaboración a partir de la integración cultural.
</p>
			</div>
		</div>
	</div>
</div>
  
{% endblock contenido %}
