{% extends "base.html" %}
{% block title %}Hackactivista | Team Hackactivista{% endblock title %}
{% load static %}
{% block contenido %}
<div class="container-fluid pt-6">
	<div class="container">
		<div class="row mt-2">
			
			<div class="col-md-12 mb-4">
               <h1 class="title ">Equipo de <span class="rs_azul">Hackactivistas</span>  </h1>
            </div>
            
       

              <div class="col-md-4">
                  <img src="static/img/hackactivista-planeta.png" alt="">
              </div>
              
          </div>

        </div>
       
	</div>
</div>
  
{% endblock contenido %}